<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./Assets/Estilos/style.css">
    <title>Document</title>
</head>
<body id="app">
    <nav>
        <img src="./Assets/Imágenes/Mindhub Brothers.gif" alt="" class="logo">
  
        <div>
          <a href="./accounts.html" class="active">Cuentas</a>
          <a href="./cards.html">Tarjetas</a>
          <a href="" @click="logout">Cerrar Sesión</a>
        </div>
      </nav>
        {{selectedAccount}}
        <main class="mainMinHeight bgColor7 pb-5">
    
            <h2 class="textColor1 text-center fontSizeBig">Transferencias</h2>
    
            <div class="transfersDiv bgColor3 me-5 ms-5 border rounded border-0 d-flex justify-content-center flex-column ">
                <h4 class="textColor2 text-center container">¿A quién quieres hacerle una transferencia?</h4>
                 <form class="d-flex justify-content-center container">
                   <div class="radio-group ">
                        <input type="radio" v-model="radioTransfer" value="Own" id="option-one-type" name="selector">
                        <label for="option-one-type" class="form1">Cuenta propia</label>
                        <input type="radio" v-model="radioTransfer" value="Third" id="option-two-type" name="selector">
                        <label for="option-two-type" class="form1">Otra Cuenta</label>                        
                   </div>
                </form>
                <h5 class="text-center textColor2 container">Seleccionar cuenta desde la que harás la transferencia</h5>
                <form class="d-flex justify-content-center container">
                    <div class="radio-group p-0" v-for="account of accounts">
                         <input type="radio" v-model="selectAccount" :value="account.number" :id="account.number" name="selector">
                         <label :for="account.number" class="form1">{{account.number}} <span class="fw-bold">Balance:</span>  {{account.balance}}</label>                           
                    </div>
                    <div>
                        
                    </div>
                 </form>
                
                <div v-if="radioTransfer == 'Third'"  class="container pb-3 d-flex justify-content-center align-items-center flex-column pt-3" >
                    <label for="accountThirdD" class="form-label textColor2">Elige la cuenta a la que vas a transferir:</label>
                    <input type="accountThirdD" class="transferInputs form-control" style="width: 20rem;" placeholder="VIN****" v-model="accountThirdD" id="accountThirdD">
                    <div class="transferInputs">
                        <label for="description" class="pt-3 form-label textColor2 d-flex justify-content-center">Descripción</label>
                        <input type="description" class="form-control" style="width: 20rem;" placeholder="ex. Honda NSX" v-model="description" id="description">
                    </div>
                    <div class="transferInputs">
                        <label for="amount" class="form-label textColor2 d-flex justify-content-center">Monto</label>
                        <input type="amount" class="form-control" style="width: 20rem;" placeholder="ex. 1000" v-model="amount" id="amount">
                    </div>
                    <div class="d-flex justify-content-center p-3">
                        <button class="btn border rounded"  v-on:click="surePopUp()">Transferir</button>
                    </div>
    
            </div>
                <div v-if="radioTransfer == 'Own'" class=" container pb-3 d-flex justify-content-center align-items-center pt-3 flex-column container">
                    <select class="form-select d-flex justify-content-center  transferInputs" v-model="accountThirdD" style="width: 20rem;" aria-label="Default select example">
                        <option disabled selected value="" class="pb-3 container">Elige la cuenta a la que vas a transferir</option>
                        <option v-for="account of accountsExcludingO "  :value="account.number">{{account.number}} Balance: {{account.balance}}</option>
                    </select>
                    <div class="transferInputs">
                        <label for="description" class="pt-3 form-label textColor2 d-flex justify-content-center">Descripción:</label>
                        <input type="description" class="form-control" style="width: 20rem;" placeholder="ex. Honda NSX" v-model="description" id="description">
                    </div>
                    <div class="transferInputs">
                        <label for="amount" class="pt-3 form-label textColor2 d-flex justify-content-center">Monto:</label>
                        <input type="amount" class="form-control" style="width: 20rem;" placeholder="ex. 1000" v-model="amount" id="amount">
                    </div>
                    <div class="d-flex justify-content-center p-3">
                        <button class="btn border rounded"  v-on:click="surePopUp()">Transferir</button>
                    </div>
                </div>
               
    
            </div>
    
    
    
        </main>
      
    
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="./Assets/Js/transfer.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    
    
</body>
</html>




